!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Gerardo Gonzalez Cruz
    %link{:href => "/images/favicon.ico", :rel => "shortcut icon"}
    %link{:href => "css/purple.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "css/print.css", :media => "print", :rel => "stylesheet", :type => "text/css"}/
    /[if IE 7]
      <link href="css/ie7.css" rel="stylesheet" type="text/css" />
    /[if IE 6]
      <link href="css/ie6.css" rel="stylesheet" type="text/css" />
    %script{:src => "js/jquery-1.4.2.min.js", :type => "text/javascript"}
    %script{:src => "js/jquery.tipsy.js", :type => "text/javascript"}
    %script{:src => "js/cufon.yui.js", :type => "text/javascript"}
    %script{:src => "js/scrollTo.js", :type => "text/javascript"}
    %script{:src => "js/myriad.js", :type => "text/javascript"}
    %script{:src => "js/jquery.colorbox.js", :type => "text/javascript"}
    %script{:src => "js/custom.js", :type => "text/javascript"}
    :javascript
      Cufon.replace('h1,h2');
    %script{:src => "/js/analytics.js", :type => "text/javascript"}
  %body
    #wrapper
      .wrapper-top
      .wrapper-mid
        #paper
          .paper-top
          #paper-mid
            .entry
              %img.portrait{:alt => "Gerardo Gonzalez C y Karina Vasquez C", :src => "images/ggc.jpg"}/
              .self
                %h1.name
                  Gerardo Gonzalez Cruz
                  %br/
                  %br/
                  %span NET/Ruby Software Developer
                %ul
                  %li.ad 94350 Orizaba, Ver.
                  %li.mail gerardogc2378@gmail.com
                  %li.tel NA Please mailme :D
              .social
                %ul
                  %li
                    %a.north{:href => "pdf/CV.pdf", :title => "CV .pdf"}
                      %img{:alt => "Download the pdf version", :src => "images/icn-save.jpg"}/
                  %li
                    %a.north{:href => "javascript:window.print()", :title => "Print"}
                      %img{:alt => "", :src => "images/icn-print.jpg"}/
                  %li
                    %a#contact.north{:href => "mailto:gerardogc2378@gmail.com", :title => "Contact Me"}
                      %img{:alt => "", :src => "images/icn-contact.jpg"}/
                  %li
                    %a.north{:href => "https://twitter.com/gerardogc2378", :title => "Follow me on Twitter"}
                      %img{:alt => "", :src => "images/icn-twitter.jpg"}/
                  %li
                    .g-plusone{"data-annotation" => "inline", "data-size" => "medium"}
                    :javascript
                      (function() {
                        var po = document.createElement('script');
                        po.type = 'text/javascript';
                        po.async = true;
                        po.src = 'https://apis.google.com/js/plusone.js';
                        var s = document.getElementsByTagName('script')[0];
                        s.parentNode.insertBefore(po, s);
                      })();
            .entry
              %h2 OBJECTIVE
              %p Create better and useful sotfware for humans.
            .entry
              %h2 EDUCATION
              .content
                %h3 Sep 2001 - Jun 2006
                %p
                  Orizaba Institute Technological
                  %br/
                  %em Computational System Engineer
            .entry
              %h2 EXPERIENCE
              .content
                %h3 March 2012 - Today
                %p
                  SURA
                  %br/
                  %em Unika - NET Developer
                %ul.info
                  %li ASP.NET / Silverlight 4 Performance.
                  %li
                    Using VS 2010, Ajax, Jquery, TFS, JSON, SQL Server 2008, WCF, Silverlight 4, ASP.NET, Web Services and more.
              .content
                %h3 Jun 2011 - March 2012
                %p
                  DISC
                  %br/
                  %em NET Developer
                %ul.info
                  %li ASP.NET / WPF / Silverlight 4.
                  %li
                    Using VS 2010, Azure, TFS, Jquery, SQL Server 2008, RIA Services, EF 4, Silverlight 4, ASP.NET, Web Services and more.
              .content
                %h3 Oct 2010 - March 2011
                %p
                  Soretti
                  %br/
                  %em NET Developer
                %ul.info
                  %li ASP.NET Architect and Lead
                  %li Used tech: ASP.NET, IIS 6, Windows XP, VS 2008, SQL Server 2005, Tortoise SVN and more.
            .entry
              %h2 SKILLS
              .content
                %h3 OSes
                %ul.skills
                  %li
                    %a{:href=>"https://www.archlinux.org/"} Arch
                  %li
                    %a{:href=>"http://www.gentoo.org/"} Gentoo
                  %li
                    %a{:href=>"http://www.ubuntu.com/"} Ubuntu
                  %li
                    %a{:href=>"http://fedoraproject.org/en/"} Fedora
                  %li
                    %a{:href=>"http://www.opensuse.org/en/"} openSUSE
                  %li Windows 7
                  %li
                    %a{:href=>"https://meego.com/"} Meego
              .content
                %h3 GUI Desktop
                %ul.skills
                  %li GNOME 3.6
                  %li WMII
                  %li Xfce 
              .content
                %h3 Desktop Development
                %ul.skills
                  %li WPF
                  %li GTK#
                  %li Glade#
                  %li Window Forms
                  %li Window services
                  %li Console Apps
              .content
                %h3 Graphics
                %ul.skills
                  %li Blender 3D
                  %li Inkscape SVG
                  %li Imagemagick
                  %li Dia
              .content
                %h3 IDEs
                %ul.skills
                  %li Glade 3
                  %li Monodevelop 3
                  %li Visual Studio 2010 Ultimate
                  %li Vim
              .content
                %h3 Control Version
                %ul.skills
                  %li TFS
                  %li Git
                  %li Github
                  %li Gitorious
              .content
                %h3 Web
                %ul.skills
                  %li HTML 4 y 5
                  %li CSS 2 y 3
                  %li JSON
                  %li Ajax
                  %li JQuery
                  %li Sinatra
                  %li Haml
                  %li Slim
                  %li ASP.NET
                  %li Silverlight 4
                  %li WCF (With SSL)
                  %li Web Services
                  %li Rest Services
                  %li XML
                  %li XPath
                  %li Google Maps v3
                  %li Web Sockets
                  %li IIS
                  %li Thin
                  %li Unicorn
                  %li Puma
                  %li 960 gs
                  %li unsemantic 
                  %li SSL
              .content
                %h3 Databases
                %ul.skills
                  %li Redis
                  %li PostgreSQL
                  %li SQL Server 2008 RC2
                  %li MySQL 5
                  %li Oracle 9i
                  %li SQLite 3
                  %li Mongodb (Learning)
                  %li Couchdb (Learning)
              .content
                %h3 Programming languages
                %ul.skills
                  %li
                    %a{:href=>"http://www.ecma-international.org/publications/standards/Ecma-334.htm"} C# ECMA 334
                  %li
                    %a{:href=>"http://www.ecma-international.org/publications/standards/Ecma-262.htm"} Javascript ECMA 262
                  %li Ruby
                  %li C
                  %li Bash Scripting
              .content
                %h3 Cloud & PaaS
                %ul.skills
                  %li Heroku
                  %li Openshift
                  %li Tropo (Learning)
                  %li Cloud66 (Learning)
              .content
                %h3 Frameworks
                %ul.skills
                  %li NET / Mono
                  %li Sinatra
              .content
                %h3 Others
                %ul.skills
                  %li Suprema SDK - C# Xpass for Access Control with Cards
                  %li Cli Secure -NET
            .entry
              %h2 WORKS
              %ul.works
                %li
                  %a{:href => "images/cloudtalk.png", :rel => "gallery", :title => "Cloud Talk"}
                    %img{:alt => "", :src => "images/cloudtalk.png"}/

                %li
                  %a{:href => "images/misomx.png", :rel => "gallery", :title => "Social business"}
                    %img{:alt => "", :src => "images/misomx.png"}/
                %li
                  %a{:href => "images/sipcc.png", :rel => "gallery", :title => "Divisas"}
                    %img{:alt => "", :src => "images/sipcc.png"}/
                %li
                  %a{:href => "images/enlaceit.jpg", :rel => "gallery", :title => "Bolsa de trabajo"}
                    %img{:alt => "", :src => "images/enlaceit.jpg"}/
          .clear
          .paper-bottom
      .wrapper-bottom
    #message
      %a#top-link{:href => "#top"} Go to Top
